.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.nav {
  padding: 12px;
}

.navbar {
  height: 75px;
  text-align: center;
  padding-right: 32px;
  padding-left: 32px;
  background-color: #ffffff;
}

.navbar-logo {
  float: left;
  height: 75px;
}

.text-black {
  color: #000000;
  font-family: 'Montserrat';
  font-weight: 500;
}

.text-red {
  color: #db0f0f;
  font-family: 'Montserrat';
  font-weight: 500;
}

.header {
  height: 100vh;
  background: #000;
  width: 100%;
  text-align: center;
}

.image {
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.header-caption {
  position: absolute;
  width: 100%;
  z-index: 10;
  top: 45%;
}

.header-text {
  color: white;
  font-size: 60px;
  font-family: 'Montserrat';
  font-weight: 500;
}

.header-subtext {
  color: white;
  margin-top: 0.01em;
  margin-bottom: 0.5em;
  font-size: 36px;
  font-family: 'Raleway';
  font-weight: 400;
}

.header-button{
  margin: 0.5em;
}

.button-daftar {
  width: 225px;
  height: 40px;
  border-radius: 5px;
  border: 0px;
  color: white;
  float: right;
  background-color: #c63c2e;
  font-size: 21px;
  font-family: 'Raleway';
  font-weight: 500;
}

.button-info {
  width: 225px;
  height: 40px;
  border: 0px;
  float: left;
  border-radius: 5px;
  color: white;
  background-color: rgba(216, 216, 216, .5);
  font-size: 21px;
  font-family: 'Raleway';
  font-weight: 500;
}

.description {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.desc-image{
  padding: 5em;
  padding-left: 10em;
  max-width: 575px;
  max-height: 575px;
}

.desc-text{
  padding-top: 11em;
  text-align: left;
  max-width: 500px;
}

.text-content{
  font-size: 36px;
  font-family: 'Montserrat';
  font-weight: 500;
}

.subtext-content{
  font-size: 21px;
  font-family: 'Raleway';
  font-weight: 300;
  color: #686565;
  margin-top: 1em;
}

.classes{
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 6em;
  background-image: url("./image/kelas.png");
}

.paralax{
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.classes-title{
  font-size: 36px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: white;
}

.classes-content{
  width: 100%;
  text-align: center;
  padding: 3em;
  padding-top: 10em;
}

.android-content{
  width: 475px;
  background: #c63c2e;
  height: 260px;
  float: right;
}

.web-content{
  width: 475px;
  background: #dd8a2f;
  height: 260px;
  float: left;
}

.text-title{
  width: auto;
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 400;
  padding-top: 4em;
  color: white;
}

.text-subtitle{
  width: auto;
  font-size: 16px;
  font-family: 'Raleway';
  font-weight: 300;
  padding-top: 2em;
  padding-left: 4em;
  padding-right: 4em;
  color: white;
}

.android-logo{
  z-index: 11;
  position: absolute;
  height: 150px;
  width: 150px;
  top: 15%;
  left: 44%;
  border-radius: 50%;
  background: white;
}

.web-logo{
  z-index: 11;
  position: absolute;
  height: 150px;
  width: 150px;
  top: 15%;
  left: 33%;
  border-radius: 50%;
  background: white;
}

.image-logo{
  height: 85px;
  width: 85px;
  margin-top: 2.2em;
}

.trainer{
  height: 500px;
  width: 100%;
  background: #353535;
  text-align: center;
  padding: 4em;
}

.trainer-title{
  width: 100%;
  font-size: 36px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: white;
}

.trainer-image{
  border-radius: 50%;
  background: white;
  width: 200px;
  height: 200px;
  padding: 1.5em;
  margin-top: 2.5em;
}

.trainer-text{
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 300;
  color: white;
  padding-top: 1em;
}

.trainer-subtext{
  font-size: 18px;
  font-family: 'Raleway';
  font-weight: 300;
  color: #9b9b9b;
  padding-top: 0.5em;
}

.level{
  height: 725px;
  width: 100%;
  text-align: center;
  padding: 4em;
  padding-left: 5em;
  padding-right: 5em;
}

.level-title{
  width: 100%;
  font-size: 36px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: black;
}

.level-content{
  width: 100%;
  height: 500px;
  border-radius: 2%;
  border-width: 1px;
  border-style: solid;
  border-color: #e1e1e1;
  margin-top: 3em;
}

.level-image{
  width: 100%;
  height: 225px;
  border-radius: 2%;
}

.level-text{
  text-align: left;
  padding: 3em;
}

.level-text-head{
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 400;
  color: black;
}

.level-text-desc{
  font-size: 18px;
  font-family: 'Raleway';
  font-weight: 300;
  color: #686565;
  padding-top: 1em;
}

.level-type{
  margin-top: 3.5em;
}

.level-android{
  font-size: 18px;
  font-family: 'Raleway';
  font-weight: 400;
  color: #c63c2e;
}

.level-web{
  font-size: 18px;
  font-family: 'Raleway';
  font-weight: 400;
  color: #dd8a2f;
}

.level-price{
  font-size: 18px;
  font-family: 'Raleway';
  font-weight: 700;
  color: black;
}

.schedule{
  width: 100%;
  height: auto;
  background: #c63c2e;
  padding: 4em;
  padding-left: 10em;
  padding-right: 10em;
  text-align: center;
}

.schedule-title{
  font-size: 36px;
  color: white;
  font-family: 'Montserrat';
  font-weight: 500;
}

.schedule-table{
  width: 100%;
  height: auto;
  border-radius: 2%;
  background: #f4f4f4;
  margin-top: 2em;
}

#schedule-th{
  text-align: center !important;
}

#text-red{
  color: #c63c2e;
}

.register{
  width: 100%;
  height: 100vh;
  padding: 11em;
  padding-left: 10em;
  text-align: left;
  background-image: url("./image/daftar.png");
}

.register-title{
  font-size: 36px;
  color: white;
  font-family: 'Montserrat';
  font-weight: 500;
}

.register-subtitle{
  padding-top: 1em;
  max-width: 50%;
  font-size: 21px;
  font-family: 'Raleway';
  font-weight: 300;
  color: white;
}

.register-button{
  width: 225px;
  height: 40px;
  border-radius: 5px;
  border: 0px;
  margin-top: 2em;
  color: white;
  font-family: 'Raleway';
  font-weight: 500;
  text-align: center;
  padding: 0.4em;
  background-color: #c63c2e;
  font-size: 18px;
}

.syllabus{
  width: 100%;
  height: auto;
  padding: 2em;
  background: #353535;
  text-align: center;
}

.syllabus-title{
  font-size: 24px;
  color: white;
  font-family: 'Montserrat';
  font-weight: 400;
}

.syllabus-subtitle{
  font-size: 14px;
  color: white;
  font-family: 'Raleway';
  font-weight: 300;
  padding-top: 2em;
}

.syllabus-content{
  width: auto;
  height: auto;
  padding-top: 3em;
  padding-left: 20em;
  padding-right: 20em;
}

.syllabus-input{
  border-radius: 2%;
  padding-left: 1em;
  width: 100%;
  font-family: 'Raleway';
  font-weight: 300;
  height: 40px;
}

.syllabus-button{
  border-radius: 5%;
  border-width: 0.5px;
  background: #dd8a2f;
  height: 40px;
  font-family: 'Raleway';
  font-weight: 500;
  width: 100%;
  color: white;
}

.testimony{
  width: 100%;
  height: auto;
  padding: 3em;
  background: white;
  text-align: center;
}

.testimony-title{
  font-size: 36px;
  color: black;
  font-family: 'Montserrat';
  font-weight: 500;
}

.testimony-content{
  width: 100%;
  height: auto;
  padding: 3em;
  text-align: left;
}

.testimony-image{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 10;
  top: 5%;
  margin-left: 4em;
}

.testimony-border{
  border-radius: 2%;
  width: 100%;
  margin-top: 5em;
  height: 200px;
  border-width: 1px;
  border-style: solid;
  border-color: #bfbfbf;
}

.testimony-name{
  font-size: 24px;
  color: black;
  float: right;
  padding: 1em;
  font-family: 'Montserrat';
  font-weight: 400;
  padding-right: 3em;
}

.testimony-text{
  font-size: 18px;
  color: #686565;
  float: right;
  font-family: 'Raleway';
  font-weight: 400;
  line-height: normal;
  padding-left: 5em;
  padding-right: 5em;
}

.footer{
  width: 100%;
  height: 400px;
  padding: 3em;
  padding-left: 10em;
  padding-right: 10em;
  background: #a52721;
  text-align: left;
}

#footer-content{
  padding-left: 2em;
  padding-right: 2em;
}

#footer-ccc-logo{
  width: 150px;
}

.footer-text{
  font-size: 14px;
  color: white;
  font-family: 'Raleway';
  font-weight: 400;
  padding-bottom: 0.5em;
}

.footer-input{
  border-radius: 5%;
  padding-left: 1em;
  width: 100%;
  height: 35px;
  color: #686565;
}

.footer-button{
  border-radius: 10%;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  height: 35px;
  text-align: center;
  padding: 0.4em;
  font-family: 'Raleway';
  font-weight: 400;
  width: 100%;
  color: white;
}

.footer-line{
  border-color: rgba(255,255,255,0.3);
  border-style: solid;
  border-width: 0.1px;
  margin-top: 1em;
  width: 100%;
}

#footer-section{
  font-size: 21px;
  color: white;
  padding-top: 2em;
  font-family: 'Montserrat';
  font-weight: 400;
}

#footer-subsection{
  font-size: 16px;
  color: white;
  padding-top: 0.75em;
  font-family: 'Raleway';
  font-weight: 300;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 732px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .nav {
      padding: 1em;
    }

    .navbar {
      height: 75px;
      text-align: center;
      padding-right: 1em;
      padding-left: 1em;;
      background-color: #ffffff;
    }

    .navbar-toggle{
      margin-top: 1.5em !important;
      margin-right: 0 !important;
    }

    .icon-bar{
      background-color: black !important;
    }

    .navbar-logo {
      float: left;
      margin-top: 1em;
      height: 50px;
    }

    .header {
      height: auto;
    }

    .image {
      height: 310px;
    }

    .header-caption {
      top: 20%;
    }

    .header-text {
      font-size: 24px;
    }

    .header-subtext {
      font-size: 16px;
    }

    .button-daftar {
      width: 175px;
      height: 30px;
      float: none;
      font-size: 16px;
    }

    .button-info {
      width: 175px;
      height: 30px;
      float: none;
      font-size: 16px;
    }

    .description {
      width: 100%;
      height: 100vh;
      padding: 2em;
      text-align: center;
    }

    .desc-image{
      padding: 0;
      padding-left: 0;
      max-width: 200px;
      max-height: 200px;
    }

    .desc-text{
      padding: 1.5em;
      text-align: center;
    }

    .text-content{
      font-size: 24px;
    }

    .subtext-content{
      font-size: 16px;
    }

    .classes{
      width: 100%;
      height: auto;
      text-align: center;
      padding-top: 3em;
    }

    .classes-title{
      font-size: 24px;
    }

    .classes-content{
      padding: 3.5em;
      padding-top: 4em;
    }

    .android-content{
      width: 300px;
      height: 175px;
      float: none;
      margin-top: 1.5em;
    }

    .web-content{
      width: 300px;
      height: 175px;
      float: none;
    }

    .text-title{
      font-size: 18px;
      padding-top: 3.5em;
    }

    .text-subtitle{
      font-size: 12px;
      padding-top: 1em
    }

    .android-logo{
      height: 100px;
      width: 100px;
      top: 10%;
      left: 38%;
    }

    .web-logo{
      height: 100px;
      width: 100px;
      top: 4%;
      left: 38%;
    }

    .image-logo{
      height: 60px;
      width: 60px;
      margin-top: 1.5em;
    }

    .trainer{
      height: auto;
      padding: 3em;
    }

    .trainer-title{
      font-size: 24px;
    }

    .trainer-image{
      width: 100px;
      height: 100px;
    }

    .trainer-text{
      font-size: 18px;
    }

    .trainer-subtext{
      font-size: 14px;
    }

    .level{
      height: auto;
      padding: 3em;
    }

    .level-title{
      font-size: 24px;
    }

    .level-content{
      height: auto;
      margin-top: 2em;
    }

    .level-image{
      height: 200px;
    }

    .level-text{
      padding: 2em;
      padding-left: 3em;
      padding-right: 3em;
    }

    .level-text-head{
      font-size: 21px;
    }

    .level-text-desc{
      font-size: 14px;
    }

    .level-type{
      margin-top: 2em;
    }

    .level-android{
      font-size: 14px;
    }

    .level-web{
      font-size: 14px;
    }

    .level-price{
      font-size: 14px;
    }

    .schedule{
      height: auto;
      padding: 3em;
    }

    .schedule-title{
      font-size: 24px;
    }

    .register{
      height: auto;
      padding: 3em;
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .register-title{
      font-size: 24px;
    }

    .register-subtitle{
      padding-top: 1.5em;
      max-width: 100%;
      font-size: 14px;
    }

    .register-button{
      width: 175px;
      height: 30px;
      font-size: 14px;
    }

    .syllabus{
      padding: 2em;
    }

    .syllabus-title{
      font-size: 14px;
    }

    .syllabus-subtitle{
      font-size: 10px;
      padding-top: 2em;
    }

    .syllabus-content{
      padding-top: 2em;
      padding-left: 0;
      padding-right: 0;
    }

    .syllabus-input{
      height: 30px;
      font-size: 12px;
    }

    .syllabus-button{
      height: 30px;
      font-size: 12px;
    }

    .testimony{
      height: auto;
      padding: 3em;
    }

    .testimony-title{
      font-size: 24px;
    }

    .testimony-content{
      padding: 0;
      padding-top: 2em;
      text-align: center;
    }

    .testimony-image{
      width: 100px;
      height: 100px;
      top: 10%;
      left: 35%;
      margin-left: 0;
    }

    .testimony-name{
      font-size: 21px;
      padding: 0;
      padding-top: 2.5em;
      float: none;
      padding-right: 0;
    }

    .testimony-text{
      font-size: 14px;
      float: none;
      padding-top: 1em;
      padding-left: 3em;
      padding-right: 3em;
    }

    .footer{
      height: auto;
      padding: 3em;
    }

    #footer-ccc-logo{
      width: 125px;
    }

    .footer-text{
      font-size: 12px;
      padding-top: 1em;
    }

    .footer-input{
      font-size: 12px;
    }

    .footer-button{
      padding: 0.7em;
      font-size: 12px;
    }

    .footer-line{
      margin-top: 2em;
    }

    #footer-section{
      font-size: 18px;
    }

    #footer-subsection{
      font-size: 14px;
    }


  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
